.main__blog {
    margin-bottom: 120px;
}

.main__blog__wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 94px;
}

.main__blog__desc {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.main__blog__desc-title {
    text-transform: uppercase;
    font-family: "Roboto-Bold", sans-serif;
    font-size: clamp(2.188rem, 1.619rem + 2.841vw, 3.75rem);
    font-weight: 700;
    line-height: clamp(3.438rem, 3.043rem + 1.943vw, 4.5rem);
}

.main__blog__desc-title span {
    font-family: "Roboto-Regular", sans-serif;
    font-size: clamp(1.875rem, 1.239rem + 3.182vw, 3.625rem);
    font-weight: 400;
    line-height: clamp(3.438rem, 3.043rem + 1.943vw, 4.5rem);
    letter-spacing: 1px;
}

.main__blog__desc-link {
    background: #000;
    border-radius: 100px;
    width: 138px;
    height: 138px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: var(--trans);
}

.main__blog__desc-link span {
    max-width: 74px;
    width: 100%;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
}

.main__blog__desc-link:hover {
    scale: 1.08;
}

.main__blog__cards {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;
}

.main__blog__cards-card {
    max-width: 374px;
    width: 100%;
    height: 585px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    transition: var(--trans);
}
.main__blog__cards-card:hover {
    scale: 1.05;
}
.main__blog__cards-card-img {
    max-width: 374px;
    width: 100%;
    max-height: 384px;
    height: 100%;
    object-fit: cover;
    transition: var(--trans);
}
.main__blog__cards-card:hover .main__blog__cards-card-img {
    box-shadow: -6px 10px 14px #00000080;
}
.main__blog__cards-card-desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main__blog__cards-card-desc-category {
    text-transform: uppercase;
    color: #000;
    border-radius: 20px;
    border: var(--brd);
    padding: 8px 16px;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    transition: var(--trans);
}
.main__blog__cards-card:hover .main__blog__cards-card-desc-category {
    transform: translateX(calc(187px - 50%));
} 

.main__blog__cards-card-desc-title {
    text-transform: uppercase;
    color: #000;
    font-family: "Roboto-Bold", sans-serif;
    font-size: clamp(1rem, 0.773rem + 1.136vw, 1.625rem);
    font-weight: 700;
    line-height: 31px;
    margin-bottom: 30px;
}

.main__blog__cards-card-desc-text {
    color: #8f8f8f;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}
@media screen and (max-width: 1280px) {
    .main__blog__cards {
        justify-content: center;
    }
    .main__blog__cards-card {
        height: max-content;
        justify-content: center;
        gap: 15px;
    }
    .main__blog__cards-card-desc-title {
        margin-bottom: 15px;
    }
}
@media screen and (max-width: 1028px) {
    .main__blog__cards-card-desc {
        text-align: center;
        align-items: center;
    }
    .main__blog__cards-card:hover {
        scale: none;
    }
    .main__blog__cards-card:hover .main__blog__cards-card-img {
        box-shadow: none;
    }
    .main__blog__cards-card:hover .main__blog__cards-card-desc-category {
        transform: none;
    }
}