.main__think {
    margin-bottom: 105px;
}

.main__think__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 114px;
}

.main__think__title {
    text-align: center;
    text-transform: uppercase;
    font-family: "Roboto-Bold", sans-serif;
    font-size: clamp(1.875rem, 1.33rem + 2.727vw, 3.375rem);
    font-weight: 700;
    line-height: clamp(3.438rem, 3.043rem + 1.943vw, 4.5rem);
}

.main__think__title span {
    font-family: "Roboto-Regular", sans-serif;
    font-size: clamp(1.875rem, 1.33rem + 2.727vw, 3.375rem);
    font-weight: 400;
    line-height: clamp(3.438rem, 3.043rem + 1.943vw, 4.5rem);
    letter-spacing: 1px;
}

.main__think__comments {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 30px;
    overflow-x: scroll;
}
.main__think__comments::-webkit-scrollbar {
    height: 10px;
    background: #22222266;
}
.main__think__comments::-webkit-scrollbar-thumb {
    background: #222;
}
.main__think__comments-box {
    min-width: 460px;
    /* max-height: 348px;
    height: 100%; */
    border: #ffffff94;
    border-radius: 5px;
    padding: 35px 50px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: var(--brd);
    opacity: .42;
    transition: var(--trans);
}
.main__think__comments-box:hover {
    opacity: 1;
}

.main__think__comments-box-text {
    margin-bottom: 28px;
    font-size: clamp(1rem, 0.593rem + 2.286vw, 1.25rem);
    font-weight: 400;
    line-height: 26px;
}
.main__think__comments-box-user-img {
    margin-bottom: 20px;
}
.main__think__comments-box-user-name {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
}

.main__think__comments-box-user-text {
    color: var(--clr-grey);
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    padding: 15px;
}
@media screen and (max-width: 520px) {
    .main__think__comments-box {
        opacity: .8;
        min-width: 285px;
        padding: 15px;
    }
}